<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-8">
  <br>
    <div class="alert alert-warning"><i class="fa fa-warning"></i> Este <strong>blog</strong> sigue en construcción. Disculpa si algo no funciona correctamente. Si tienes alguna duda, <strong><a href="mailto:oscarchavezromero@gmail.com">contáctame.</a></strong> O sígueme en <strong><a href="http://twitter.com/ostocino">twitter</a></strong> si prefieres <i class="fa fa-warning"></i></div>
    <h1 class="page-header">
      oscarchavez
      <p class="text-lowercase" style="font-size:30px;"><small>rails fullstack, vr/ar dev, entrepreneur</small></p>
    </h1>
    <div class="mbl pbm">
      <ul class="nav nav-pills">
        <li ng-class="{'active': dev}">
          <a ng-click="dev = !dev" ng-model="category.dev">Desarrollo</a>
        </li>
        <li ng-class="{'active': vrar}">
          <a ng-click="vrar = !vrar" ng-model="category.vrar">VR/AR</a>
        </li >
        <li ng-class="{'active': blog}">
          <a ng-click="blog = !blog" ng-model="category.blog">Blog</a>
        </li>
      </ul>
    </div>
    <!-- Blog Post -->
    <div ng-repeat="post in posts">
      <h3>
        <a href="#/posts/{{post.id}}">{{post.title}}</a>
      </h3>
      <p>
        <span ng-show="post.upvotes > 0"><strong>{{post.upvotes}} likes</strong> |</span> por <a href="#/users/{{post.user.username}}">{{post.user.username}}</a> | {{post.category}}
      </p>
      <p class="text-muted"><span class="fa fa-clock-o"></span> Posteado {{post.created_at | date: 'd MMM, yyyy h:mm'}}</p>
      <!--img class="img-responsive" src="#/{{post.image_url}}" alt="" href="#/posts/{{post.id}}"-->
      <p ng-show="post.excerpt">{{post.excerpt}}...</p>
      <a class="btn btn-primary" href="#/posts/{{post.id}}">Leer más&nbsp;&nbsp;<span class="fa fa-chevron-right"></span></a>
      <a class="btn btn-info" ng-click="incrementUpvotes(post)"><span class="fa fa-thumbs-o-up"></span>&nbsp;&nbsp;Like</a>
      <!--a ng-show="post.user.username == 'ostocino'" class="btn btn-warning" href="#/posts/{{post.id}}/edit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Editar Post</a-->
      <!--a ng-show="post.user.username == 'ostocino'" class="btn btn-danger" ng-click="deletePost(post)"><i class="fa fa-trash"></i>&nbsp;&nbsp;Borrar Post</a-->
      <hr>
    </div>

    <!-- Pager -->
    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; Antiguo</a>
      </li>
      <li class="next">
        <a href="#">Nuevo &rarr;</a>
      </li>
    </ul>
  </div>

  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">
    <div class="sidebar">
      <!-- Blog Search Well -->
      <div class="well">
        <h4>Buscar</h4>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
        <!-- /.input-group -->
      </div>

      <!--div class="well">
        <h4>Links</h4>
        <div class="row">
          <div class="col-lg-6">
            <button type="button" href="http://vector3.co" class="btn btn-danger">VR3</button>
            <button type="button" href="http://mxvr.co" class="btn btn-success">MXVR</button>
          </div>
        </div>
      </div-->
      <!-- Popular Posts Well -->
      <div class="well">
        <h4>Populares</h4>
        <div class="row">
          <div class="col-lg-6">
            <div ng-repeat="post in posts | limitTo: 5">
              <p>
                <a href="{{post.link}}">{{post.title}} | {{post.upvotes}} likes</a>

              </p>
            </div>
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
      </div>

      <!-- Side Widget Well -->
      <div class="well">
        <h4><a href="http:///twitter.com/ostocino">@ostocino</a></h4>
        <a class="twitter-timeline" href="https://twitter.com/ostocino" data-widget-id="694431438804901888"> </a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

    </div>
  </div>


</div>
<!-- /.row -->

