<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-12">

    <h1 class="page-header">
      oscarchavez
      <p class="text-lowercase" style="font-size:30px;"><small>rails fullstack, vr/ar dev, entrepreneur</small></p>
    </h1>
    <div class="mbl pbm">
      <ul class="nav nav-pills">
        <li ng-class="{'active': dev}">
          <a ng-click="dev = !dev">Desarrollo</a>
        </li>
        <li ng-class="{'active': vrar}">
          <a ng-click="vrar = !vrar">VR/AR</a>
        </li >
        <li ng-class="{'active': blog}">
          <a ng-click="blog = !blog">Blog</a>
        </li>
      </ul>
    </div>
    <!-- Blog Post -->
    <div ng-repeat="post in posts">
      <h3>
        <a href="#/posts/{{post.id}}">{{post.title}}</a>
      </h3>
      <p >
        por <a href="#/users/{{post.user.username}}">{{post.user.username}}</a> | {{post.category}}
      </p>
      <p ng-show="post.upvotes > 0">{{post.upvotes}} likes</p>
      <p><span class="glyphicon glyphicon-time"></span> Posteado {{post.created_at | date: 'd MMM, yyyy h:mm'}}</p>
      <!--img class="img-responsive" src="#/{{post.image_url}}" alt="" href="#/posts/{{post.id}}"-->
      <br>
      <p ng-show="post.excerpt">{{post.excerpt}}...</p>
      <a class="btn btn-primary" href="#/posts/{{post.id}}">Leer más <span class="glyphicon glyphicon-chevron-right"></span></a>
      <a class="btn btn-info" ng-click="incrementUpvotes(post)"><span class="glyphicon glyphicon-thumbs-up"></span>  Like</a>
      <a ng-show="post.user.username == 'ostocino'" class="btn btn-warning" href="#/posts/{{post.id}}/edit">Editar Post</a>
      <a ng-show="post.user.username == 'ostocino'" class="btn btn-danger" ng-click="deletePost(post)"><i class="glyphicon glyphicon-bin"></i>Borrar Post</a>
      <hr>
    </div>

    <!-- Pager -->
    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; Antiguo</a>
      </li>
      <li class="next">
        <a href="#">Nuevo &rarr;</a>
      </li>
    </ul>

  </div>

</div>
<!-- /.row -->

