<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title>oscarchavez</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="canonical" href="http://www.oscarchavez.me">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="fullstack, rails, ruby, angular, bootstrap, vr, ar, development, programming, entrepreneurship, traveling, virtual reality, augmented reality, computer graphics" >
  <meta name="description" content="fullstack development, graphics and virtual reality, entreprenurship, personal blog of oscarchavez. @ostocino">

    <!--FACEBOOK-->
  <meta property="og:title" content="oscarchavez Blog Post" >
  <meta property="og:site_name" content="oscarchavez">
  <meta property="og:url" content="http://www.oscarchavez.me" >
  <meta property="og:description" content="fullstack development, graphics and virtual reality, entreprenurship, personal blog of oscarchavez. @ostocino" >
  <meta property="og:image" content="http://www.vectorthree.com/oscarchavez/img/baner_oscarchavez.png" >

  <meta property="og:type" content="website" >
  <meta property="og:locale" content="en_US" >

</head>
<body ng-app="oscarchavezBlog">
  <div ng-include="'nav/_nav.html'"></div>
  <div class="container home">
    <ui-view></ui-view>
  </div>
  <div ng-include="'nav/_footer.html'"></div>
</body>

</html>
